section.hidden-section {
    opacity: 1;
    transform: none;
    filter: none;
}

section.hidden-section>div>div {
    opacity: 0;
    filter: blur(6px);
    transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1),
        transform 1.2s cubic-bezier(0.16, 1, 0.3, 1),
        filter 1.2s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: opacity, transform, filter;
}

section.hidden-section>div>div:nth-child(1) {
    transform: translateY(-40px) scale(0.95);
}

section.hidden-section>div>div:nth-child(2) {
    transform: translateY(60px);
    transition-delay: 0.15s;
}

section.hidden-section>div>div:nth-child(n+3) {
    transform: translateX(-50px);
    transition-delay: 0.3s;
}

section.hidden-section.show-up>div>div {
    opacity: 1;
    transform: translate(0) scale(1);
    filter: blur(0);
}


footer.hidden-section {
    opacity: 0;
    transform: translateY(100px) rotateX(-20deg);
    transform-origin: top center;
    filter: blur(20px);
    transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1),
        transform 1.5s cubic-bezier(0.22, 1, 0.36, 1),
        filter 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    will-change: transform, opacity, filter;
}

footer.hidden-section.show-up {
    opacity: 1;
    transform: translateY(0) rotateX(0);
    filter: blur(0);
}