/* @media screen and (max-width: 1200px) {} */

@media screen and (max-width: 1150px) {
    .sec-hero__info {
        padding: 30px;
    }
}

/* @media screen and (max-width: 1073px) {} */

/* @media screen and (max-width: 1024px) {} */

/* @media screen and (max-width: 1000px) {} */

@media (max-width: 991px) {
    .sec-hero__card {
        flex-direction: column;
    }

    .sec-hero__thumb {
        flex: 0 0 35%;
        aspect-ratio: 357 / 266 !important;
        height: 100%;
    }


    .sec-hero__info {
        padding: 25px 20px;
    }
}

/* @media screen and (max-width: 900px) {} */

/* @media screen and (max-width: 835px) {} */

@media screen and (max-width: 800px) {

    .menu-mobile__logo,
    .menu-mobile__nav {
        display: block;
    }

    .menu-navigation__container {
        display: flex;
    }

    .menu-top__container,
    .menu-bottom__nav {
        display: none !important;
    }

    .menu-bottom__container {
        justify-content: space-between !important;
    }

    .sec-hero__content {
        flex-direction: column;
    }

    .sec-hero__thumb,
    .sec-hero__info {
        flex: 1 0 auto;
        width: 100%;
    }

    .sec-news__thumb {
        width: 100%;
    }

    .hero__actions a {
        flex: 1 0 auto;
    }

    .detail-head__title {
        font-size: calc(var(--font-size-base) * 2);
    }
}

/* @media screen and (min-width: 769px) {} */

@media screen and (max-width: 768px) {

    :root {
        --font-size-base: 14px;
    }

    .container-padding {
        padding: 30px 0px !important;
    }

    .section-video__container,
    .latest-publications__body {
        flex-direction: column;
    }

    .video-sidebar,
    .topic-sidebar,
    .latest-publications__list {
        width: 100% !important;
    }

    .detail-content blockquote p,
    .detail-head__sapo {
        font-size: calc(var(--font-size-base) + 4px);
    }

    .detail-content figure {
        padding-bottom: 40px;
    }

    .video-card-sm__content h3 {
        font-size: calc(var(--font-size-base) + 3px);
    }

    .section-video__title{
        font-size: calc(var(--font-size-base) + 8px);
    }

    .sec-hero__actions a{
        flex-grow: 1;
    }
}

/* 
@media screen and (max-width : 700px) {} */

@media screen and (max-width: 650px) {
    .option-filter__container {
        max-width: unset;
    }

    .detail-content p,
    .detail-content,
    .detail-content blockquote p,
    .detail-head__sapo {
        font-size: calc(var(--font-size-base) - 4px);
    }
}

@media screen and (max-width: 600px) {
    .sec-hero__title {
        font-size: calc(var(--font-size-base) + 16px);
    }

    .sec-hero__quote p {
        font-size: calc(var(--font-size-base) + 2px);
    }
}

@media screen and (max-width: 590px) {
    header {
        padding-bottom: 0px;
    }

    .sec-hero__quote{
        padding: 15px;
    }

    .sec-hero__quote p{
        font-size: calc(var(--font-size-base) - 2px);
    }
}

@media screen and (max-width: 551px) {
    .author-box {
        flex-direction: column;
        align-items: start !important;
    }

    .detail-head__title {
        font-size: calc(var(--font-size-base) + 8px);
    }

    .video-card-sm__content h3 {
        font-size: calc(var(--font-size-base) - 4px) ;
    }
}

/* @media screen and (max-width: 480px) {} */