<div class="container-xl flex-wrap jus-sb gap-20">
    <div class="footer-col col-4 flex flex-col gap-20">
        <div class="footer-logo pos-rel">
            <img src="./img/logo/logo-footer.svg" alt="TrustMarket" class="img-icon">
            <a href="javascript:void(0)" class="link-overlay"></a>
        </div>
        <p class="text-color-deactive text-sm">
            Nền tảng số cung cấp các giao diện website cao cấp và giải pháp bảo mật tối ưu cho doanh nghiệp.
        </p>
        <div class="social-links flex gap-10">
            <div class="social-links__img pos-rel ratio-1x1">
                <img src="./img/icon/fb.svg" alt="Facebook" class="img-icon">
                <a href="javascript:void(0)" class="link-overlay"></a>
            </div>
            <div class="social-links__img pos-rel ratio-1x1">
                <img src="./img/icon/tw.svg" alt="Twitter" class="img-icon">
                <a href="javascript:void(0)" class="link-overlay"></a>
            </div>
            <div class="social-links__img pos-rel ratio-1x1">
                <img src="./img/icon/yt.svg" alt="Youtube" class="img-icon">
                <a href="javascript:void(0)" class="link-overlay"></a>
            </div>
            <div class="social-links__img pos-rel ratio-1x1">
                <img src="./img/icon/ig.svg" alt="Instagram" class="img-icon">
                <a href="javascript:void(0)" class="link-overlay"></a>
            </div>
        </div>
    </div>

    <div class="footer-col col-4 flex flex-col gap-10">
        <h4>Sản Phẩm</h4>
        <a href="../products.html" class="text-color-deactive text-sm">Tất cả sản phẩm</a>
        <a href="../industry-templates.html" class="text-color-deactive text-sm">Template theo ngành nghề</a>
        <a href="../ssl-certificates.html" class="text-color-deactive text-sm">Chứng chỉ bảo mật SSL</a>
    </div>

    <div class="footer-col col-4 flex flex-col gap-10">
        <h4>Hỗ Trợ</h4>
        <a href="../help-center.html" class="text-color-deactive text-sm">Trung tâm trợ giúp</a>
        <a href="../seo-website.html" class="text-color-deactive text-sm">Dịch vụ SEO Website</a>
        <a href="../speed-optimization.html" class="text-color-deactive text-sm">Tối ưu tốc độ tải trang</a>
        <a href="../contact.html" class="text-color-deactive text-sm">Liên hệ hợp tác</a>
    </div>

    <div class="footer-col col-4 flex flex-col gap-10">
        <h4>Chính Sách</h4>
        <a href="#" class="text-color-deactive text-sm">Điều khoản sử dụng</a>
        <a href="#" class="text-color-deactive text-sm">Chính sách bảo mật</a>
        <a href="#" class="text-color-deactive text-sm">Chính sách hoàn tiền</a>
        <a href="#" class="text-color-deactive text-sm">Cấp phép & Bản quyền</a>
    </div>
</div>

<div class="footer-bottom container-f ">
    <div class="container-l jus-sb center-ver flex-wrap gap-20">
        <p class="text-color-deactive text-sm">© 2026 TrustMarket SaaS Marketplace. All rights reserved.</p>
        <div class="payment-methods flex gap-10 center-ver">
            <div class="icon-md ratio-1x1"><img src="./img/icon/visa.svg" alt="Visa" class="img-icon"></div>
            <div class="icon-md ratio-1x1"><img src="./img/icon/jcb.svg" alt="JCB" class="img-icon"></div>
            <div class="icon-md ratio-1x1"><img src="./img/icon/mastercard.svg" alt="Mastercard" class="img-icon"></div>
            <div class="icon-md ratio-1x1"><img src="./img/icon/paypal.svg" alt="Paypal" class="img-icon"></div>
            <div class="icon-md__second "><img src="./img/icon/dmca.svg" alt="DMCA" class="img-icon"></div>
            <div class="icon-md__second "><img src="./img/icon/BCT.svg" alt="bộ công thương" class="img-icon"></div>
        </div>
    </div>
</div>