<div class="container-l footer-padding flex flex-col center-ver center-hor gap-20">
            <div class="footer-container flex gap-20 flex-wrap ">
                <div class="col-3 flex flex-col gap-20">
                    <div class="footer-logo overflow-hidden pos-rel">
                        <img src="./img/logo/logo-top.svg" alt="Logo" class="img-icon">
                        <a href="javascript:void(0)" aria-label="Trang chủ" class="pos-abs link-overlay"></a>
                    </div>
                    <p>Không gian lưu giữ và kiến tạo những giá trị văn chương, tư tưởng
                        cùng dòng chảy nghệ thuật đương đại Việt Nam. Nơi hội tụ của
                        những tâm hồn đồng điệu, tôn vinh vẻ đẹp trầm lắng của ngôn từ và di sản trí tuệ.</p>
                </div>
                <div class="col-3 flex flex-col gap-10">
                    <h3>Chuyên mục</h3>
                    <a href="javascript:void(0)">Trang chủ</a>
                    <a href="javascript:void(0)">Văn thơ</a>
                    <a href="javascript:void(0)">Nghệ thuật & văn học</a>
                    <a href="javascript:void(0)">Tin tức</a>
                    <a href="javascript:void(0)">Video</a>
                    <a href="javascript:void(0)">Liên hệ</a>
                </div>
                <div class="col-3 flex flex-col gap-20">
                    <h3>Theo dõi chúng tôi</h3>
                    <div class="social-icons flex  gap-20">
                        <div class="social-icon overflow-hidden ratio-1x1 pos-rel">
                            <img src="./img/icon/facebook.svg" alt="Facebook" class="img-content">
                            <a href="javascript:void(0)" aria-label="Facebook" class="link-overlay"></a>
                        </div>
                        <div class="social-icon overflow-hidden ratio-1x1 pos-rel">
                            <img src="./img/icon/youtube.svg" alt="YouTube" class="img-content">
                            <a href="javascript:void(0)" aria-label="YouTube" class="link-overlay"></a>
                        </div>
                    </div>
                </div>
            </div>
            <p>© 2026 Bản quyền thuộc về tác giả Dương Thanh Biểu.</p>
        </div>