
                    <div id="skeleton-data" class="container-xl gap-20 flex-wrap">
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                        <div
                            style="width:calc((100% - (20px * 5)) / 6); height: 400px; padding: 20px; border: 1px solid #eee; border-radius: 10px; background: #f0f0f0;">
                            <div style="width: 100%; height: 200px; background: #ddd; border-radius: 4px;"></div>
                            <div style="margin-top: 15px; width: 80%; height: 20px; background: #ddd;"></div>
                        </div>
                    </div>

                    <div id="real-data" class="container-xl gap-20 flex-wrap is-hidden">
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                        <article class="card col-6 flex-col hover-border-primary pos-rel">
                            <div class="product-card__image-wrap ratio-4x3 overflow-hidden pos-rel">
                                <img src="./img/product/pressgrid.svg" alt="SaaS Admin Pro" class="img-content">
                                <span class="card-tag tag-right">React</span>
                                <a href="./detail-product.html" class="link-overlay" aria-label="Xem chi tiết"></a>
                            </div>

                            <div class="product-card__info flex-1 flex flex-col gap-10 item-padding-10">
                                <div class="product-title bold text-md clamp-text clamp-line-one">SaaS Admin Pro</div>
                                <p class="product-desc text-sm text-color-deactive clamp-text clamp-line-two">
                                    Dashboard hoàn chỉnh cho dự án SaaS với 50+ components.
                                </p>

                                <div class="product-meta flex jus-sb align-center ">
                                    <span class="product-price bold text-color-primary">1,500,000 VND</span>
                                    <div class="flex align-center gap-2 text-sm">
                                        <span class="text-red">★</span>
                                        <span>4.9</span>
                                    </div>
                                </div>

                                <div class="flex flex-wrap gap-10">
                                    <a href="javascript:void(0)"
                                        class="btn-primary flex-1 text-sm text-center border-primary">
                                        Xem Demo
                                    </a>
                                    <a href="javascript:void(0)" class="btn-primary active flex-1 text-sm text-center">
                                        Liên hệ
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>