<div class="container-l flex flex-col ">
    <div class="menu-top__container flex center-hor">
        <div class="menu-top__logo overflow-hidden pos-rel">
            <img src="./img/logo/logo-top.svg" alt="Logo" class="img-content">
            <a href="javascript:void(0)" aria-label="Trang chủ" class="pos-abs link-overlay"></a>
        </div>
    </div>
    <div class="menu-bottom__container flex center-hor gap-20 ">
        <div class="menu-mobile__logo overflow-hidden pos-rel">
            <img src="./img/logo/logo-top.svg" alt="Logo" class="img-icon">
            <a href="javascript:void(0)" aria-label="Trang chủ" class="pos-abs link-overlay"></a>
        </div>
        <div class="menu-bottom__nav flex center-ver center-hor gap-30">
            <a class="uppercase menu-nav__item active" aria-label="Trang chủ" href="javascript:void(0)">trang
                chủ</a>
            <a class="uppercase menu-nav__item" aria-label="Văn thơ" href="javascript:void(0)">văn thơ</a>
            <a class="uppercase menu-nav__item" aria-label="Nghệ thuật & văn hóa" href="javascript:void(0)">Nghệ
                thuật & văn hóa</a>
            <a class="uppercase menu-nav__item" aria-label="Tin tức" href="javascript:void(0)">tin tức</a>
            <a class="uppercase menu-nav__item" aria-label="Video" href="javascript:void(0)">video</a>
        </div>
        <div class="menu-navigation__container center-ver pos-rel">
            <button type="button" class="menu-toggle__button ratio-1x1" aria-label="Menu">
                <img src="./img/icon/Bars.svg" alt="Menu" class="img-icon">
            </button>
            <div class="menu-navigation__content bg-white flex-col gap-20 pos-abs">
                <a class="menu-mb__item uppercase un-wrap text-right active" aria-label="Trang chủ"
                    href="javascript:void(0)">trang
                    chủ</a>
                <a class="menu-mb__item uppercase un-wrap text-right" aria-label="Văn thơ" href="javascript:void(0)">văn
                    thơ</a>
                <a class="menu-mb__item uppercase un-wrap text-right" aria-label="Nghệ thuật & văn hóa"
                    href="javascript:void(0)">Nghệ
                    thuật & văn hóa</a>
                <a class="menu-mb__item uppercase un-wrap text-right" aria-label="Tin tức" href="javascript:void(0)">tin
                    tức</a>
                <a class="menu-mb__item uppercase un-wrap text-right" aria-label="Video"
                    href="javascript:void(0)">video</a>
            </div>
        </div>
    </div>
</div>