<div class="container-f bg-white border-bottom pos-rel header-container">
    <div class="container-xl center-ver jus-sb item-padding-10 gap-20">
        <div class="flex center-ver gap-20">
            <div class="logo pos-rel flex center-ver">
                <img title="ThanhDev Library Layout" src="./img/logo/logo-top.svg" alt="ThanhDev Logo">
                <a href="../index.html" class="link-overlay" aria-label="Trang chủ ThanhDev"></a>
            </div>

            <nav class="header-bottom__menu flex gap-20 center-ver">
                <div class="menu-container__item header-bottom__item drop-down pos-rel">
                    <a class="text-color-black bold" href="../products.html">Sản phẩm</a>

                    <ul class="menu-list flex flex-col">

                        <li class="menu-leveltwo__container pos-rel">
                            <a href="../products.html">Mô hình Layout</a>
                            <ul class="menu-list__leveltwo flex flex-col">
                                <li><a href="../products.html">E-Commerce (Bán hàng)</a></li>
                                <li><a href="../products.html">Landing Page</a></li>
                            </ul>
                        </li>

                        <li class="menu-leveltwo__container pos-rel">
                            <a href="../products.html">Theo Ngành nghề</a>
                            <ul class="menu-list__leveltwo flex flex-col">
                                <li><a href="../products.html">Quán Cafe & Trà sữa</a></li>
                                <li><a href="../products.html">Nhà hàng & Quán ăn</a></li>
                                <li><a href="../products.html">Khách sạn & Resort</a></li>
                                <li><a href="../products.html">Bất động sản</a></li>
                            </ul>
                        </li>

                        <li class="menu-leveltwo__container pos-rel">
                            <a href="../ssl-certificates.html">Chứng chỉ SSL</a>
                        </li>
                    </ul>
                </div>

                <div class="menu-container__item header-bottom__item drop-down pos-rel">
                    <a class="text-color-black bold" href="../services.html">Dịch vụ</a>

                    <ul class="menu-list flex flex-col">
                        <li class="menu-leveltwo__container pos-rel">
                            <a href="../seo-website.html">SEO Website</a>
                        </li>
                        <li class="menu-leveltwo__container pos-rel">
                            <a href="../security.html">Bảo mật Website (SSL)</a>
                        </li>
                        <li class="menu-leveltwo__container pos-rel">
                            <a href="../custom-design.html">Thiết kế UI/UX theo yêu cầu</a>
                        </li>
                        <li class="menu-leveltwo__container pos-rel">
                            <a href="../speed-optimization.html">Tối ưu tốc độ tải trang</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-container__item header-bottom__item drop-down pos-rel">
                    <a class="text-color-black bold" href="../news.html">Tin tức</a>
                </div>
                <div class="menu-container__item header-bottom__item drop-down pos-rel">
                    <a class="text-color-black bold" href="../help-center.html">Trung tâm Hỗ trợ</a>
                </div>
                <div class="menu-container__item header-bottom__item drop-down pos-rel">
                    <a class="text-color-black bold" href="../contact.html">Liên hệ</a>
                </div>
            </nav>
        </div>

        <div class="header-bottom__function jus-end flex flex-1 gap-10 center-ver">
            <div class="search-box flex flex-1 item-padding-10 border-radius-10 flex center-ver bg-light-blue">
                <input type="text" placeholder="Tìm kiếm layout..." class="flex-1 border-none text-sm bg-light-blue">
                <button class="search-btn">
                    <div class="icon-md ratio-1x1"><img src="./img/icon/search.svg" alt="Search" class="img-icon">
                    </div>
                </button>
            </div>
            <!-- <div class="cart-box pos-rel flex center-ver ratio-1x1">
                <img class="img-icon" src="./img/icon/cart.svg" alt="Cart">
                <a href="javascript:void(0)" class="link-overlay" aria-label="Giỏ hàng"></a>
            </div> -->
            <div class="user-login active pos-rel flex center-ver ratio-1x1">
                <img class="img-icon" src="./img/icon/user.svg" alt="User">
                <a href="javascript:void(0)" class="link-overlay" aria-label="Đăng nhập"></a>
                <div class="user-login__container pos-abs border-radius-10 bg-white flex flex-col gap-20">
                    <a href="./login.html" class="un-wrap">Đăng nhập</a>
                    <a href="./signup.html" class="un-wrap">Đăng ký</a>
                </div>
            </div>
            <button class="menu-container__bar ratio-1x1 center-ver center-hor">
                <img class="img-icon" src="./img/icon/bars.svg" alt="Open Menu">
            </button>
        </div>

        <div class="m-menu flex flex-col pos-abs bg-white shadow-sm">
            <div class="m-menu__header flex flex-col gap-15 item-padding-20 pb-0">
                <div class="search-box border-radius-5 item-padding-10 flex center-ver bg-white-secondary fill-view">
                    <input type="text" placeholder="Tìm kiếm..." class="flex-1 border-none bg-white-secondary">
                    <button class="search-btn"><img class="icon-sm" src="./img/icon/search.svg" alt="Search"></button>
                </div>
            </div>

            <div class="m-menu__root flex flex-col gap-15">

                <div class="m-menu__item flex flex-col active">
                    <a href="../index.html" class="text-color-primary bold uppercase">Trang chủ</a>
                </div>

                <div class="m-menu__item flex flex-col gap-10">
                    <a href="../products.html" class="text-color-deactive bold uppercase">Sản phẩm</a>

                    <div class="m-submenu flex flex-col gap-10">

                        <div class="m-submenu__item flex flex-col gap-5">
                            <a href="../layout-models.html" class="pl-15 text-sm font-medium">Mô hình Layout</a>
                            <div class="m-submenu__levelthree flex flex-col gap-10" style="margin-top: 5px;">
                                <a href="../e-commerce.html" class="pl-30 text-xs text-color-deactive">— E-Commerce (Bán
                                    hàng)</a>
                                <a href="../landing-page.html" class="pl-30 text-xs text-color-deactive">— Landing
                                    Page</a>
                                <a href="../admin-dashboard.html" class="pl-30 text-xs text-color-deactive">— Admin
                                    Dashboard</a>
                                <a href="../portfolio.html" class="pl-30 text-xs text-color-deactive">— Portfolio</a>
                            </div>
                        </div>

                        <div class="m-submenu__item flex flex-col gap-5">
                            <a href="../industry-templates.html" class="pl-15 text-sm font-medium">Theo Ngành nghề</a>
                            <div class="m-submenu__levelthree flex flex-col gap-10" style="margin-top: 5px;">
                                <a href="../cafe-templates.html" class="pl-30 text-xs text-color-deactive">— Quán Cafe &
                                    Trà sữa</a>
                                <a href="../restaurant-templates.html" class="pl-30 text-xs text-color-deactive">— Nhà
                                    hàng & Quán ăn</a>
                                <a href="../hotel-templates.html" class="pl-30 text-xs text-color-deactive">— Khách sạn
                                    & Resort</a>
                                <a href="../real-estate.html" class="pl-30 text-xs text-color-deactive">— Bất động
                                    sản</a>
                            </div>
                        </div>

                        <div class="m-submenu__item flex flex-col gap-5">
                            <a href="../tech-templates.html" class="pl-15 text-sm font-medium">Theo Công nghệ</a>
                            <div class="m-submenu__levelthree flex flex-col gap-10" style="margin-top: 5px;">
                                <a href="../html-css.html" class="pl-30 text-xs text-color-deactive">— HTML / CSS
                                    Thuần</a>
                                <a href="../react.html" class="pl-30 text-xs text-color-deactive">— ReactJS</a>
                                <a href="../wordpress.html" class="pl-30 text-xs text-color-deactive">— WordPress</a>
                            </div>
                        </div>

                        <a href="../ssl-certificates.html" class="pl-15 text-sm font-medium">Chứng chỉ SSL</a>

                    </div>
                </div>

                <div class="m-menu__item flex flex-col gap-10">
                    <a href="../services.html" class="text-color-deactive bold uppercase">Dịch vụ</a>

                    <div class="m-submenu flex flex-col gap-10">
                        <a href="../seo-website.html" class="pl-15 text-sm font-medium">SEO Website</a>
                        <a href="../security.html" class="pl-15 text-sm font-medium">Bảo mật Website (SSL)</a>
                        <a href="../custom-design.html" class="pl-15 text-sm font-medium">Thiết kế UI/UX theo yêu
                            cầu</a>
                        <a href="../speed-optimization.html" class="pl-15 text-sm font-medium">Tối ưu tốc độ tải
                            trang</a>
                    </div>
                </div>

                <div class="m-menu__item flex flex-col">
                    <a href="../news.html" class="text-color-deactive bold uppercase">Tin tức</a>
                </div>

                <div class="m-menu__item flex flex-col">
                    <a href="../help-center.html" class="text-color-deactive bold uppercase">Trung tâm hỗ trợ</a>
                </div>

                <div class="m-menu__item flex flex-col">
                    <a href="../contact.html" class="text-color-deactive bold uppercase">Liên hệ</a>
                </div>

            </div>
        </div>

    </div>
</div>